{% extends 'base/base1.html' %}

{% block contenido %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-header card-header-icon card-header-warning">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <h4 class="card-title "><strong> Editar/Crear Categorías</strong></h4>
                                <span style="color: gray;">CATEGORIAS DE PRODUCTOS</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method='POST'>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Editar/Crear Categoría
                                </div>
                                <!-- /.panel-heading-->
                                <div class='panel-body'>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                    <a href="{% url 'catalogos:categoria_list'%}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}