{% extends 'base/base1.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

<script src="/static/base/js/plugins/chartist.min.js"></script>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-rose" data-header-animation="false">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Ejecuci&oacute;n</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> {{hoy}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-info" data-header-animation="false">
            <div class="ct-chart1" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Cartera</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> {{hoy}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning" data-header-animation="false">
            <div class="ct-chart2" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Gastos</h4>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> {{hoy}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card-header card-header-warning card-header-icon">
          <h4 class="card-title text-center">PRODUCTOS</h4>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2">
            <div class="card card-stats text-center">
              <a href="{% url 'catalogos:categoria_list' %}">
                <i class="material-icons">account_circle</i>
                <br /><br />
                <h6 class="card-title">Categor&iacute;as</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card card-stats text-center">
              <a href="{% url 'catalogos:subcategoria_list' %}">
                <i class="material-icons">check_circle_outline</i>
                <br /><br />
                <h6 class="card-title">Sub categor&iacute;as</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card card-stats text-center">
              <a href="{% url 'catalogos:productos_list' %}">
                <i class="material-icons">done_all</i>
                <br /><br />
                <h6 class="card-title">Productos</h6>
              </a>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card card-stats text-center">
              <a href="{% url 'catalogos:formulacion' %}">
                <i class="material-icons">done_all</i>
                <br /><br />
                <h6 class="card-title">Formulaci&oacute;n</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  new Chartist.Bar('.ct-chart', {
    labels: ['E', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
    series: [
        {{ventas}}
    ]
    }, {
    stackBars: true,
    axisY: {
        labelInterpolationFnc: function(value) {
        return (value / 1000000) + 'M';
        }
    }
    }).on('draw', function(data) {
    if(data.type === 'bar') {
        data.element.attr({
        style: 'stroke-width: 15px'
        });
    }
    });
     

  /*  **************** Public Preferences - Pie Chart ******************** */

  new Chartist.Bar('.ct-chart1', {
    labels: ['30d', '60d', '90d', '+90d'],
    series: [{{vencimientos}}]
    }, {
    stackBars: true,
    axisY: {
        labelInterpolationFnc: function(value) {
        return (value / 1000000) + 'M';
        }
    }
    }).on('draw', function(data) {
    if(data.type === 'bar') {
        data.element.attr({
        style: 'stroke-width: 25px'
        });
    }
    });

    new Chartist.Bar('.ct-chart2', {
      labels: ['30d', '60d', '90d', '+90d'],
      series: [{{gastos}}]
      }, {
      stackBars: true,
      axisY: {
          labelInterpolationFnc: function(value) {
          return (value / 1000000) + 'M';
          }
      }
      }).on('draw', function(data) {
      if(data.type === 'bar') {
          data.element.attr({
          style: 'stroke-width: 25px'
          });
      }
      });
  
</script>

{% endblock contenido %}
