{% extends 'base/base1.html' %}

{% load static %}

{% block contenido %}
    
    <script src="/static/base/assets/js/core/jquery.min.js"></script>
    
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card-header card-header-icon card-header-warning">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <h4 class="card-title "><strong> Sub Categor&iacute;as</strong></h4>
                                <span style="color: gray;">SUBCATEGORIAS DE PRODUCTOS</span><br>
                                <hr class="sidebar-divider">
                                <a href="{% url 'catalogos:subcategoria_new' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span>Nuevo</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="material-datatables">
                            <table id="lista_table" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%; font-size:12px;">
                                <thead>
                                    <th style="font-size:12px; background: gray; color: white;" data-orderable="false">ID</th>
                                    <th style="font-size:12px; background: gray; color: white;">DESCRIPCION</th>
                                    <th style="font-size:12px; background: gray; color: white;" class="text-center">ESTADO</th>
                                    <th style="font-size:12px; background: gray; color: white;" class="text-center">CREADO</th>
                                    <th style="font-size:12px; background: gray; color: yellow;" data-orderable="false" class="text-center">Acciones</th>
                                </thead>
                                <tfoot>
                                    <th>Id</th>
                                    <th>Descripción</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Creado</th>
                                    <th class="text-center">Acciones</th>
                                </tfoot>
                                <tbody>
                                </tr>
                                    {% for item in obj %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.nombre}}</td>
                                            <td class="text-center">{{item.activo|yesno:"Activo,Inactivo"}}</td>
                                            <td class="text-center">{{item.creado|date:'d/m/Y'}}</td>
                                            <td class="td-actions text-center">
                                                <a href="{% url 'catalogos:subcategoria_edit' item.id %}">
                                                    <button type="button" rel="tooltip" class="btn btn-info btn-round">
                                                    <i class="material-icons">edit</i>
                                                    </button>
                                                </a>
                                                <a href="{% url 'catalogos:subcategoria_delete' item.id %}">
                                                    <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                                                    <i class="material-icons">delete</i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
          $('#lista_table').DataTable({
            "pagingType": "full_numbers",
            "pageLength": 25,
            "lengthMenu": [
              [10, 25, 50, -1],
              [10, 25, 50, "Todo"]
            ],
            responsive: true,
            "language": {
              "sProcessing":    "Procesando...",
              "sLengthMenu":    "Mostrar _MENU_ registros",
              "sZeroRecords":   "No se encontraron resultados",
              "sEmptyTable":    "Ningún dato disponible en esta tabla",
              "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
              "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
              "sInfoPostFix":   "",
              "sSearch":        "Buscar:",
              "sUrl":           "",
              "sInfoThousands":  ",",
              "sLoadingRecords": "Cargando...",
              "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":    "Último",
                  "sNext":    "Siguiente",
                  "sPrevious": "Anterior"
              }}
          });
      
          var table = $('#lista_table').DataTable();
      
          // Edit record
          table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
          });
      
          // Delete a record
          table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
          });
      
          //Like record
          table.on('click', '.like', function() {
            alert('You clicked on Like button');
          });
        });
    </script>
{% endblock contenido %}
