{% extends 'base/base2.html' %}

{% load static %}

{% block menu1 %}

<div class="sidebar" data-color="orange" data-background-color="black" data-image="/static/base/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="{% url 'generales:home' %}" class="simple-text logo-mini">
            <img src="/static/base/images/logo_komtroll.png" width="30px" alt="IMG">
        </a>
        <a href="{% url 'generales:home' %}" class="simple-text logo-normal">
          KOMTROLL.com
        </a>
    </div>

    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                {% if request.user.is_staff %}
                    <img src="{{ user.profile.foto.url }}"/>
                {% endif %}
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        {{ user.first_name }} {{ user.last_name }}
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <!--<ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> ME </span>
                                <span class="sidebar-normal"> Mensage a Direccion de Medios </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> CO </span>
                                <span class="sidebar-normal"> Mensage a Gerencia Comercial </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> PE </span>
                                <span class="sidebar-normal"> Mi Perfil </span>
                            </a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="{% url 'generales:home' %}">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            {% if request.user.is_staff %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'catalogos:menu' %}">
                        <i class="material-icons">sell</i>
                        <p> Productos </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'catalogos:menu_inv' %}">
                        <i class="material-icons">inventory</i>
                        <p> Inventario </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'facturas:menu' %}">
                        <i class="material-icons">receipt</i>
                        <p> Facturaci&oacute;n
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                        <i class="material-icons">admin_panel_settings</i>
                        <p> Admin
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="pagesExamples">
                        <ul class="nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'facturas:lista_vales' %}">
                                    <span class="sidebar-mini"> V </span>
                                    <span class="sidebar-normal"> Vales </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" data-toggle="collapse" href="#pagesFacturas">
                                    <span class="sidebar-mini"> C </span>
                                    <p>Cartera Clientes 
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <div class="collapse" id="pagesFacturas">
                                    <ul class="nav">
                                        <li class="nav-item ">
                                            <a class="nav-link" href="{% url 'facturas:estado_cartera' %}">
                                                <span class="sidebar-mini"> VE </span>
                                                <span class="sidebar-normal"> Estado de Cartera</span>
                                            </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" onclick="ver_pagos()">
                                                <span class="sidebar-mini"> PA </span>
                                                <span class="sidebar-normal"> Pagos y Abonos</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'facturas:menu_ind' %}">
                        <i class="material-icons">receipt</i>
                        <p> Indicadores</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<script>
    function reporte1(itemn) {
        var r = $("#"+itemn).val();
        var datos = {'periodo':r};
        window.location.href="{% url 'facturas:info_pagos' %}?periodo="+r
    }

    function ver_pagos() {
        swal({
        title: 'Consulta de Pagos y Abonos',
        html: '<div class="form-group"> <div class="col-md-6"><center>' +
            '<input class="form-control" id="reporte" type="month" name="cambio_mes" value="" placeholder="Cambiar mes y a&nacute;o" onblur="reporte1(id)">' +
            '</center></div></div>',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false
        }).catch(swal.noop)
    }
</script>
{% endblock menu1 %}