<!DOCTYPE html>
<html class="has-sidemenu" lang="en-US" dir="ltr">

    <head>
        <meta charset="utf-8">

        {% load staticfiles %}

        {% load auth_extras %} 

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SISTEMA INRAI | Noticias Agc</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/images/favicon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/images/favicon.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/images/favicon.png' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'base/images/favicon.png' %}">
        <link rel="manifest" href="/static/base/assets/img/favicons/manifest.json">
        <meta name="msapplication-TileImage" content="/static/base/assets/img/favicons/mstile-150x150.png">
        <meta name="theme-color" content="#ffffff">

        <link href="/static/base/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="/static/base/vendors/loaders.css/loaders.min.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
        <link href="/static/base/assets/css/theme.css" rel="stylesheet" />
        <link href="/static/base/assets/css/user.css" rel="stylesheet" />
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
   
    </head>


    <body class="overflow-hidden-x">
        <nav class="fancynavbar fancynavbar-expand-lg" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-37},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-trigger="scroll" data-exclusive="true">
            <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in">
                <a class="fancynavbar-brand" href="{% url 'generales:home' %}">
                    <img class="fancynavbar-brand-img" src="/static/base/image/logo-blanco.png" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll" />
                    <!--You can use icon or text logo as well-->
                    <!--<span class='fab fa-superpowers fs-3'></span>-->
                    <!--<span class='logo-sparrow'>S</span>-->
                </a>
                <div class="fancynavbar-toggler">
                    <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
                        <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
                        <path id="path-middle" d="M20,32h30"></path>
                        <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
                    </svg>
                </div>
                <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
                    <a class="fancynavbar-addon-item" href="#count" data-bs-toggle="modal">
                        <span class="far fa-user"></span>
                    </a>
                </div>
            </div>
            <div class="fancynavbar-collapse">
                <ul class="fancynavbar-nav">
                    <li><img class="fancynavbar-brand-img" src="/static/base/image/logo-inrainews-blanco-400px.png" alt="" width="160" /></li>
                    <li><p>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .. . . . . . . . . . . . .. . . . . . . . . . . . . .</p></li>
                <li class="fancynav-item fancy-dropdown"><a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">contenido</span></a>
                    <div class="fancy-dropdown-menu">
                        <div class="row pb-4 pt-3">
                            <div class="col-auto">
                                <a class=" false fancy-dropdown-item" href="{% url 'noticias:noticia_list' %}"> Noticias</a>
                                <a class=" false fancy-dropdown-item" href=""> Podcast</a>
                                <a class=" false fancy-dropdown-item" href="{% url 'noticias:fotos_list' %}"> Fotograf&iacute;a</a>
                                <a class=" false fancy-dropdown-item" href=""> Pauta Radio</a>
                                <a class=" false fancy-dropdown-item" href=""> Pauta Digital</a>
                            </div>
                        </div>
                    </div>
                    {% if request.user|has_group:"administradores" %}
                    {% elif request.user|has_group:"clientes" %}
                    {% else %}
                    {% endif %}
                </li>
                <li class="fancynav-item fancy-dropdown"><a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">cat&aacute;logo</span></a>
                    <div class="fancy-dropdown-menu">
                        <div class="row pb-4 pt-3">
                            <div class="col-sm-auto pe-4">
                                <a class=" false fancy-dropdown-item" href="../pages/404.html"> Todo</a>
                                {% for item in categorias %}
                                    <a class=" false fancy-dropdown-item" href="{% url 'noticias:postcat_view' item.id %}"> {{item.nombre}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>
                <li class="fancynav-item fancy-dropdown"><a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span class="fancynav-link-content">componentes</span></a>
                    <div class="fancy-dropdown-menu">
                        <div class="row pb-2 pt-3">
                            <div class="col-sm-auto mb-3">
                                <div class="row">
                                    <div class="col-sm-auto pe-4">
                                        <a class="fancy-dropdown-item text-white fw-black ls text-uppercase fs--1 mb-1" href="JavaScript:void(0)">Gr&aacute;ficos</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/accordion.html"> Accordion</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/anchor.html"> Anchor</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/backgrounds.html"> Backgrounds</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/borders.html"> Borders</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/carousel.html"> Carousel</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/colors.html"> Colors</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/cookie-notice.html"> Cookie notice</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/countdown.html"> Countdown</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/countup.html"> Countup</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/fancynav.html"> Fancynav</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/filter.html"> Filter</a>
                                    </div>
                                    <div class="col-sm-auto pe-4">
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/googlemap.html"> Streaming</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/icons.html"> Audio</a>
                                        <a class=" false fancy-dropdown-item" href="../components/sparrow/inline-player.html"> V&iacute;deo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-auto pe-3 mb-3">
                                <a class="fancy-dropdown-item text-white fw-black ls text-uppercase fs--1 mb-1" href="JavaScript:void(0)">Marketing</a>
                                <a class=" false fancy-dropdown-item" href="../components/bootstrap/badges.html"> Radio</a>
                                <a class=" false fancy-dropdown-item" href="../components/bootstrap/buttons.html"> Btl</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="fancynav-item"><a class="fancynav-link" href="../pages/portfolio.html"><span class="fancynav-link-content">portafolio</span></a></li>
                <li class="fancynav-item"><a class="fancynav-link" href="../pages/contact.html"><span class="fancynav-link-content">contacto</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- ===============================================-->
        <!--    Main Content-->
        <!-- ===============================================-->
        <main class="main min-vh-100" id="top">
            <!-- ============================================-->
            <!-- Preloader ==================================-->
            <div class="preloader" id="preloader">
                <div class="loader">
                <div class="line-scale-pulse-out-rapid">
                    <div> </div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div> </div>
                </div>
                </div>
            </div>
            <!-- ============================================-->
            <!-- End of Preloader ===========================-->

            {% block contenido %}Blank{% endblock contenido %}


            

        </main>
        <footer class="footer bg-black text-600 py-4 font-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 order-lg-2 position-relative">
                        <a class="indicator indicator-up" href="#top">
                            <span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span>
                            <span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span>
                        </a>
                    </div>
                        <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
                            <p class="fs--1 text-uppercase ls fw-bold mb-0">Copyright &copy; <script>document.write(new Date().getFullYear())</script> INRAI</p>
                        </div>
                    <div class="col-lg-4 text-lg-end order-lg-2 mt-2 mt-lg-0">
                        <p class="fs--1 text-uppercase ls fw-bold mb-0">Hecho en Colombia <span class="text-danger fas fa-heart mx-1"></span>por <a class="text-600" href="http://inrai.net/">INRAI</a></p>
                    </div>
                </div>
            </div>
        </footer>


    <!--===============================================-->
    <!--    Modal for language selection-->
    <!--===============================================-->
    <!-- Modal-->
    <div class="overflow-hidden">
      <div class="modal fade fade-in" id="count" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">
          <div class="modal-content bg-black">
            <div class="modal-body text-center p-0">
              <button class="btn-close text-white position-absolute top-0 end-0 times-icon mt-2 me-2 p-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              <ul class="list-unstyled my-0 py-4 font-sans-serif">
                <li><a class="text-white fw-bold pt-1 d-block" href="{% url 'generales:logout' %}">Cerrar sesi&oacute;n</a></li>
                <li><a class="pt-1 d-block text-500" href="#!">Mensaje al Administrador</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/static/base/plugins/js/jquery.min.js"></script>
    <script src="/static/base/vendors/popper/popper.min.js"></script>
    <script src="/static/base/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/static/base/vendors/anchorjs/anchor.min.js"></script>
    <script src="/static/base/vendors/is/is.min.js"></script>
    <script src="/static/base/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="/static/base/vendors/bigpicture/BigPicture.js"> </script>
    <script src="/static/base/vendors/rellax/rellax.min.js"> </script>
    <script src="/static/base/vendors/fontawesome/all.min.js"></script>
    <script src="/static/base/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/static/base/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/static/base/vendors/gsap/gsap.js"></script>
    <script src="/static/base/vendors/gsap/customEase.js"></script>
    <script src="/static/base/vendors/gsap/drawSVGPlugin.js"></script>
    <script src="/static/base/vendors/progressbar/progressbar.min.js"></script>

    <!--  Plugin for Sweet Alert -->
    <script src="/static/base/plugins/js/sweetalert2.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122907869-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-122907869-1');
    </script>-->
    <script src="/static/base/assets/js/theme.js"></script>
  </body>

</html>