<head>
    <meta charset="utf-8">

    {% load staticfiles %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SISTEMA INRAI | Noticias</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/base/images/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/base/images/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/base/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/base/images/favicon.png">
    <link rel="manifest" href="/static/base/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/static/base/images/favicon.png">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/base/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/base/vendors/loaders.css/loaders.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="/static/base/assets/css/theme.css" rel="stylesheet" />
    <link href="/static/base/assets/css/user.css" rel="stylesheet" />
</head>