{% extends 'base/base.html' %}

{% load auth_extras %} 

{% block contenido %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <span class="fas fa-check-double"></span><span>    {{request.user.group.name}}  -  {{sede}}</span>
              <h3 class="card-title"><strong>Noticias pendientes de aprobaci&oacute;n</strong> <span style="font-size:12px;"></span></h3>
          </div>
          <div class="card-body">
            <a href="{% url 'noticias:noticia' %}" class="btn btn-info"><span class="fas fa-cloud-upload-alt"></span>   Nuevo</a>
            <div class="material-datatables">
              <table id="noticias_table" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%; font-size:11px; font-family:Arial, Helvetica, sans-serif;">
                <thead>
                  <tr>
                    <th style="font-size:12px; background: gray; color: white;">TITULO</th>
                    <th style="font-size:12px; background: gray; color: white; width:300px;">SUBTITULO</th>
                    <th style="font-size:12px; background: gray; color: white;">CATEGORIA</th>
                    <th style="font-size:12px; background: gray; color: white;">FECHA</th>
                    <th style="font-size:12px; background: gray; color: white;">SEDE</th>
                    <th style="font-size:12px; background: gray; color: white;">AUTOR</th>
                    <th class="text-center" style="font-size:12px; background: gray; color: yellow;">ESTADO</th>
                    <th style="font-size:12px; background: gray; color: yellow;" data-orderable="false" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><strong>T&iacute;tulo</strong></th>
                    <th><strong>Sub t&iacute;tulo</strong></th>
                    <th><strong>Categor&iacute;a</strong></th>
                    <th><strong>Fecha</strong></th>
                    <th><strong>Sede</strong></th>
                    <th><strong>Autor</strong></th>
                    <th class="text-center" ><strong>Estado</strong></th>
                    <th data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                  </tr>
                </tfoot>
                <tbody>
                    <!--
                    <td>{{item.fecha_factura|date:'d/m/Y'}}</td>
                    <td>{{item.activo|yesno:"Activo,Inactivo"}}</td>
                    <td>{{item.create|date:'d/m/y H:i'}}</td>
                    <td>{{item.modificado|date:'d/m/y H:i'}}</td>
                    -->
                  {% for item in obj %}
                    <div style="display: none">
                      {{ forloop.counter1 }}
                    </div>
                    <tr>
                        <td><strong>{{item.titulo}}</strong></td>
                        <td style="width:300px;">{{item.subtitulo}}</td>
                        <td>{{item.subcategoria.nombre }}</td>
                        <td>{{item.modificado|date:'d/m/Y'}}</td>
                        <td>{{item.autor.profile.sede.nombre_sede }}</td>
                        <td>{{item.autor.first_name}} {{item.autor.last_name}}</td> 
                        <td class="text-center">
                          <button type="button" class="btn-xs" id="estado-detalle" value="{{ orden.id }}"
                            {% if item.estado == 0 %}
                                style="background-color: #0c7cd5"
                            {% elif item.estado == 1 %}
                                style="background-color: rgb(206, 110, 0)"
                            {% elif item.estado == 2 %}
                                style="background-color: firebrick"
                            {% elif item.estado == 3 %}
                                style="background-color: green"
                            {% else %}
                                style="background-color: #59d50c"
                            {% endif %}
                            data-toggle="tooltip" data-placement="top" data-html="true" title='ESTADO DE LA NOTICIA'>
                              {% if item.estado == 0 %}
                                <span style="color: white;">EN APROBACION</span>
                              {% elif item.estado == 1 %}
                                <span style="color: white;">DEVUELTO</span>
                              {% elif item.estado == 2 %}
                                <span style="color: white;">RECHAZADO</span>
                              {% elif item.estado == 3 %}
                                <span style="color: white;">APROBADO</span>
                              {% else %}
                                <span style="color: white;">PUBLICADO</span>
                              {% endif %}
                          </button>
                        </td>
                        <td class="td-actions text-center">
                          {% if request.user|has_group:"editores" %}
                            <a href="{% url 'noticias:noticia_view' item.id %}">
                              <button type="button" rel="tooltip" class="btn">
                                <span class="far fa-eye"></span>
                              </button>
                            </a>
                          {% endif %}
                          <a href="{% url 'noticias:noticia_edit' item.id %}">
                            <button type="button" rel="tooltip" class="btn">
                              <span class="far fa-edit"></span>
                            </button>
                          </a>
                          {% if request.user|has_group:"editores" %}
                            <a href="">
                              <button type="button" rel="tooltip" class="btn">
                                <span class="far fa-envelope"></span>
                              </button>
                            </a>
                          {% endif %}
                          <a href="">
                            <button type="button" rel="tooltip" class="btn">
                              <span class="fas fa-cloud-upload-alt"></span>
                            </button>
                          </a>
                          <a href="">
                            <button type="button" rel="tooltip" class="btn">
                              <span class="fas fa-cloud-download-alt"></span>
                            </button>
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function() {
    $('#noticias_table').DataTable({
      scrollY: '200px',
      scrollCollapse: true,
      paging: false,
      responsive: true,
      "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        }}
    });
  });
</script>

{% endblock contenido %}
